
/* nav bar */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  
  position: sticky;
  top: 0;
  transition: 0.3 ease-in-out;
  width: 100%;
  
}

/* Searching option */
.search_bar {
  background-color: white;
  width: 30%;
  padding: 0.4rem 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.search_bar input {
  border: none;
  height: 1rem;
  width: 100%;
  font-size: 1rem;
}
.search_bar input:focus {
  outline: none;
}

/* For user details */
.avatar {
  background-color: black;
  padding: 0.3rem 0.4rem;
  padding-right: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.avatar a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.avatar a svg {
  font-size: 1.3rem;
  background-color: #282828;
  padding: 0.2rem;
  border-radius: 1rem;
  color: #c7c5c5;
}


/* Login Button */

.user button{
  height: 2.5rem;
  width: 7rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: navy;
  color: white;
  border: 1px solid navy;
  border-radius: 0.4rem;
  cursor: pointer;
  
}
.user button:hover{
  background-color: white;
  color: navy;
  border: 1px solid white;
}

.dropdown{
  font-size: 1rem;
  background-color: white;
  color : black;
}

@media screen and (max-width: 912px) {
  .container{
      position: sticky;
        top: 0;
        
        
  }
}