.track {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.track_image img {
  
  height: 70px;
}

.track_info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.track_info h4 {
  font-size: 1rem;
  color: white;
}
.track_info h6 {
  font-size: 0.7rem;
  font-weight: 200;
  color: #b3b3b3;
}
